@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Bayon");
@import url("https://fonts.googleapis.com/css?family=Nunito");
/* 6.6 13.2 */

* {
    padding: 0;
    margin: 0;
    /* border: red dashed 1px; */
    box-sizing: border-box;
}

html {
    background-image: url("images/pexels-alexandra-karnasopoulos-3680319.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html::-webkit-scrollbar {
    display: none;
}

/* Navigation bar / header */

.header-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.878);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-container li {
    width: 100%;
    height: 100%;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 20%;
    height: 80%;
}

.btn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-family: Oswald;
    font-size: 1.5em;
}

.btn:hover {
    background-color: rgba(164, 164, 164, 0.322);
    color: rgb(206, 6, 6);
    cursor: pointer;
    border-radius: 10px;
}

/* Landing photo section */

.photo-background {
    display: flex;
    width: 100%;
    /* height: 750px; */
    height: 100vh; /* 100% of view height */
    /* background-image: url("images/pexels-alexandra-karnasopoulos-3680319.jpg"); */
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo-text {
    font-family: Bayon;
    letter-spacing: 10px;
    font-size: 4em;
    color: white;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.403);
}

/* Section headers */

.section-header {
    font-family: Nunito;
    /* font-family: Oswald; */
    /* font-family: monospace; */
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    margin: 2em 0;
    color: rgb(255, 149, 0);
}

.underline {
    display: flex;
    height: 8px;
    background-color: black;
    width: 75%;
    justify-self: center;
    border-radius: 5px;
    margin: 3em auto;
    
}

 .sub-header{
    margin-top: -.5em;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    /* color: rgb(206, 6, 6); */
    color: rgb(103, 103, 103);
    width: 90%;
 }

/* About Me */

.about-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1em;
    width: 100%;
    align-items: center;
}

.about-content {
    display: flex;
    width: 90%;
    font-size: 1.5em;
    font-family: Nunito;
    /* font-family: monospace; */
    text-align: center;
    font-weight: bold;
    color: rgb(103, 103, 103);
}

/* Skills */

.skills-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.skillimage img {
    height: 100px;
    margin: 1em;
}

.skillimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.back-end {
    width: 100%;
    margin: 0 0 2% 0;
}

.front-misc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0 0 0;
}

.front-end {
    height: inherit;
    width: 57%;
}

.misc {
    height: inherit;
    width: 39%;

}

.skillback {
    border-radius: 50px;
    /* background-color: rgb(38, 105, 105); */
    /* background-color: rgb(103, 14, 14); */
    /* border: solid rgb(185, 1, 1) 5px; */
    padding: 20px;
}

.frontback-header {
    /* color: white; */
    color: black;
    font-family: Nunito;
    text-align: center;
}

.frontback-skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;
    /* background-color: rgb(192, 213, 206);
    border-radius: 20px;
    padding: 10px 0; */
}

.skilltext {
    color: rgb(95, 95, 95);
    /* color: rgb(220, 220, 220); */
    /* color: rgb(49, 49, 49); */
}

/* Skills red border white bg */

/* .skills-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.skillimage img {
    height: 100px;
    margin: 1em;
}

.skillimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.back-end {
    width: 100%;
    margin: 0 0 2% 0;
}

.front-misc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0 0 0;
}

.front-end {
    height: inherit;
    width: 57%;
}

.misc {
    height: inherit;
    width: 39%;

}

.skillback {
    border-radius: 50px;
    border: solid rgb(185, 1, 1) 5px;
    padding: 20px;
}

.frontback-header {
    color: black;
    font-family: Nunito;
    text-align: center;
}

.frontback-skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.skilltext {
    color: rgb(95, 95, 95);
} */

/* Skills gray icons */

.skills-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.skillimage img {
    height: 100px;
    margin: 1em;
}

.skillimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.back-end {
    width: 100%;
    margin: 0 0 2% 0;
}

.front-misc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0 0 0;
}

.front-end {
    height: inherit;
    width: 57%;
}

.misc {
    height: inherit;
    width: 39%;

}

.skillback {
    border-radius: 50px;
    background-color: rgb(38, 105, 105);
    background-color: rgb(28, 27, 54);
    /* border: solid rgb(185, 1, 1) 5px; */
    padding: 20px;
}

.frontback-header {
    /* color: white; */
    color: rgb(227, 227, 227);
    font-family: Nunito;
    text-align: center;
}

.frontback-skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;
    /* background-color: rgb(192, 213, 206);
    border-radius: 20px;
    padding: 10px 0; */
}

.skilltext {
    color: rgb(155, 155, 155);
    /* color: rgb(220, 220, 220); */
    /* color: rgb(49, 49, 49); */
}