@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Bayon");
@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
    padding: 0;
    margin: 0;
    /* border: red dashed 1px; */
    box-sizing: border-box;
}

html {
    background-image: url("images/Landing/pexels-alexandra-karnasopoulos-3680319.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

/* ====={ Navigation bar / header }===== */

.header-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.878);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-container li {
    width: 100%;
    height: 100%;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 20%;
    height: 80%;
}

.btn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-family: Oswald;
    font-size: 1.5em;
}

.btn:hover {
    background-color: rgba(164, 164, 164, 0.322);
    color: rgb(236, 132, 9);
    cursor: pointer;
    border-radius: 10px;
}

/* ====={ Checkbox }===== */

.secondary-header {
    display: none;
}

.collapse { /* Hides the dropdown when screen isn't small */
    display: none;
}

.menuimg { /* resizes manu icon */
    width: 50px;
}

#checkbox-toggle { /* Hides the physical checkbox */
    display: none;  
}

.dropdown { /* Hides dropdown list elements */
    max-height: 0;
    overflow: hidden;
  }
  
  .dropdown a{ /* Formats the links (still hidden) */
    font-family: Oswald;
    text-decoration: none;
    color: #333333;
    font-size: 1.2em;
    display: flex;
    width: 500px;
    justify-content: center;
    background-color: rgb(228, 228, 228);
  }
  
  .dropdown a:hover { /* Format link on hover */
    background-color: #c2c2c2;
  }

#checkbox-toggle:checked ~ nav ul { 
    height: auto;
    max-height: 20rem;
}

/* ====={ Landing photo section }===== */

.photo-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo-text {
    font-family: Bayon;
    letter-spacing: 10px;
    font-size: 4em;
    color: white;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.403);
}

/* ====={ Universal Section Elements }===== */

.main-section-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    align-items: center;
}

.general-container {
    width: 90%;
}

.section-header {
    font-family: Oswald;
    font-weight: bolder;
    text-align: center;
    font-size: 2.5em;
    margin: 2em 0;
    color: rgb(206, 6, 6);
    letter-spacing: 2px;
    width: 90%;
    text-align: left;
}

/* .section-header h1{
    width: fit-content;
    border-bottom: 4px solid rgb(70, 70, 70);
} */


/* ====={ About Me }===== */

.about-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.5em;
    font-family: Oswald;
    text-align: left;
    font-weight: bold;
    color: rgb(103, 103, 103);
    letter-spacing: 1px;
}

.about-content a {
    text-decoration: none;
    color: rgb(236, 132, 9);
}

/* ====={ Skills }===== */

.skills-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.skillimage img {
    height: 100px;
    margin: 1em;
}

.skillimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.back-end {
    width: 100%;
    margin: 0 0 2% 0;
}

.front-misc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0 0 0;
}

.front-end {
    height: inherit;
    width: 100%;
}

.misc {
    height: inherit;
    width: 100%;

}

.skillback {
    border-radius: 50px;
    background-color: rgb(239, 239, 239);
    padding: 20px;
}

.skill-header {
    color: rgb(236, 132, 9);
    font-family: Oswald;
    text-align: center;
    margin-bottom: 2em;
}

.frontback-skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    font-family: Oswald;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1em;
    color: #676767;
}

.backend-container {
    width: 100%;
}

.front-container {
    width: 57%;
}

.tools-container {
    width: 39%;
}

/* ====={ Projects }===== */

.project-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    background-color: rgb(239, 239, 239);
    border-radius: 40px;
    justify-content: center;
    margin-bottom: 3em;
}

.project-card-content {
    margin: 1.7em;
    display: flex;
    width: 95%;
    justify-content: space-between;
    text-align: center;
    color: #676767;
    font-family: Oswald;
}

.project-image {
    height: 200px;
}

.project-image img {
    height: 100%;
    border-radius: 5px;
}

.project-text {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
}

.project-description {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 1em;
}

.project-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.project-buttons button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(206, 6, 6);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-weight: bold;
}

.project-buttons button:hover {
    background-color: rgb(255, 109, 109);
    cursor: pointer;
}

.project-buttons img {
    width: 30px
}

.replit img {
    width: 20px
}

.project-language {
    font-size: 1.2em;
}

/* ====={ Contact }===== */

.contact-content {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.contact-icon {
    display: flex;
    align-items: center;
    height: 200px;
}

.contact-icon img {
    width: 150px;
}

.contact-icon img:hover {
    opacity: 30%;
}

.contact-text {
    color: rgb(236, 132, 9);
    font-family: Oswald;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

.resume button {
    width: 200px;
    height: 100px;
    background-color: rgb(206, 6, 6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 15px;
    border: none;
    color: white;
    margin-bottom: 2em;
}

.resume button:hover {
    background-color: rgb(255, 109, 109);
    cursor: pointer;
}

/* ====={ Footer }===== */

.footer-container {
    width: 100%;
    display: flex;
    color: white;
    font-family: Oswald;
    font-size: 3em;
    /* background-color: rgba(0, 0, 0, 0.878); */
    background-color: rgba(31, 31, 31);
    position: absolute;
    justify-content: center;
}

.footer-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.footer-name {
    font-size: 1.2em;
}

.footer-email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-email-icon {
    height: inherit;
    display: flex;
    align-items: center;
}

.footer-email-icon img{
    width: 50px;
}

.email-text {
    font-size: .7em;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* ====={ Responsiveness }===== */

@media only screen and (max-width: 900px) {
    .footer-content {
        font-size: .7em;
    }

    .email-text {
        margin-left: 5px;
        margin-bottom: 6px;
    }

    .footer-email-icon img {
        scale: .7;
    }

}


/* =={ iPhone }== */

@media only screen and (max-width: 650px) {
    .project-card-content {
        display: flex;
        flex-direction: column;
    }

    .project-buttons {
        margin-top: 1em;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .project-title {
        margin-top: .5em;
    }

    .project-description {
        margin: 1em;
    }

    .skillimage img{
        height: 75px;
        margin: 0;
    }

    .skillback {
        border-radius: 25px;
        padding: 0;
    }

    .skill-header {
        font-size: .7em;
    }

    .skill {
        width: 75px;
        scale: .75;
        font-size: .7em;
    }

    .skilltext {
        margin-top: 10px;
    }

    .photo-background {
        background-image: url("images/Landing/pexels-alexandra-karnasopoulos-3680319.jpg");
    }

    .photo-header {
        font-size: 1em;
    }

    .photo-subheader {
        font-size: .75em;
    }
    
    html {
        background: white;
    }

    .nav-btn:nth-child(n + 2) {
        display: none;
    }

    .nav-container {
        width: 100%;
        height: 60px;
        justify-content: flex-start;
        align-items: center;
    }

    .header-container {
        display: none;
    }

    .contact-icon {
        scale: .75;
    }

    .footer-container {
        display: none;
    }

    /* ========={ Dropdown Styling }========= */

    .secondary-header {
        background-color: rgba(0, 0, 0, 0.855);
        width: 80px;
        height: 80px;
        border-radius: 0 0 15px 0;
        display: flex;
        margin: 0;
        position: fixed;
        z-index: 2;
    }

    .collapse {
        display: flex;
        flex-direction: column;
    }

    .menuimg {
      width: 80px;
      padding: 10px;
      margin-left: -1px;
    }

    .menuimg:hover {
        background-color: rgba(255, 255, 255, 0.238);
        border-radius: 0 0 15px 0;
    }
    
    #checkbox-toggle {
        display: none;  
    }
    
    .dropdown { /* Hides dropdown list elements */
        max-height: 0;
        overflow: hidden;
        border-radius: 0 10px 10px 10px;
        margin-top: -4px;
        border: none;
    }
      
    .dropdown a{ /* Formats the links (still hidden) */
        font-family: Oswald;
        text-decoration: none;
        color: #333333;
        font-size: 2em;
        font-weight: bold;
        display: flex;
        width: 300px;
        height: 50px;
        justify-content: center;
        background-color: rgb(228, 228, 228);
        border-bottom: 1px solid #333333;
    }
      
    .dropdown a:hover { /* Format link on hover */
        background-color: #c2c2c2;
    }

    #contact-dropdown-li {
        border: none;
    }

    #checkbox-toggle:checked ~ .dropdown li { 
        height: auto;
    }

    #checkbox-toggle:checked ~ nav ul{
        border: 1px solid #333333;
    }
    
}

@media only screen and (max-width: 500px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-icon {
        scale: 1.2;
    }

}

/* =={ Galaxy }== */

@media only screen and (max-width: 350px) {
    .photo-header{
        font-size: .65em;
    }

    .photo-subheader {
        font-size: .45em;
    }
    
    .skill-content {
        display: none;
    }

    .galaxy-skills {
        background: rgb(239, 239, 239);
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        border-radius: 30px;
    }

    .skill {
        scale: .85;
    }

    .project-buttons button{
        scale: .8;
    }

}

/* =={ Hide galaxy specifics }== */

@media only screen and (min-width: 350px) {
    .galaxy-skills {
        display: none;
    }
}

/* =={ Sideways view }== */

@media only screen and (max-height: 600px) {
    .photo-header {
        font-size: 1em;
    }
    .photo-subheader {
        font-size: .6em;
    }

    .secondary-header {
        background-color: rgba(0, 0, 0, 0.855);
        width: 80px;
        height: 80px;
        border-radius: 0 0 15px 0;
        display: flex;
        margin: 0;
        position: fixed;
        z-index: 2;
    }

    .collapse {
        display: flex;
        flex-direction: column;
    }

    .menuimg {
      width: 80px;
      padding: 10px;
      margin-left: -1px;
    }

    .menuimg:hover {
        background-color: rgba(255, 255, 255, 0.238);
        border-radius: 0 0 15px 0;
    }
    
    #checkbox-toggle {
        display: none;  
    }
    
    .dropdown { /* Hides dropdown list elements */
        max-height: 0;
        overflow: hidden;
        border-radius: 0 10px 10px 10px;
        margin-top: -4px;
        border: none;
    }
      
    .dropdown a{ /* Formats the links (still hidden) */
        font-family: Oswald;
        text-decoration: none;
        color: #333333;
        font-size: 2em;
        font-weight: bold;
        display: flex;
        width: 300px;
        height: 50px;
        justify-content: center;
        background-color: rgb(228, 228, 228);
        border-bottom: 1px solid #333333;
    }
      
    .dropdown a:hover { /* Format link on hover */
        background-color: #c2c2c2;
    }

    #contact-dropdown-li {
        border: none;
    }

    #checkbox-toggle:checked ~ .dropdown li { 
        height: auto;
    }

    #checkbox-toggle:checked ~ nav ul{
        border: 1px solid #333333;
    }

    .about-content {
        width: 80%;
    }

    .header-container {
        display: none;
    }
}

/* Resize Icon for small phone side orientation */

@media only screen and (max-height: 380px) {
    .skill {
        scale: .8;
    }

    .project-image {
        scale: .8;
    }
}